@media screen and (max-width: 420px) {
  .home-screen-content-container {
    max-width: 320px;
    max-height: 600px;
    padding: 12px;
  }

  .home-screen-button-container {
    max-width: 300px;
    margin-top: 8px;
  }

  .home-screen-button-container {
    max-width: 300px;
  }

  .shopping-bag-image {
    width: 140px;
    height: auto;
  }

  .home-screen-subtitle-description {
    max-width: 300px;
  }

  .home-screen-title {
    max-width: 300px;
  }

  .home-screen-subtitle {
    max-width: 300px;
  }
}

@media screen and (max-width: 830px) {
  .home-screen-container {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
