.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 26vw;
  background-color: white;
  align-items: center;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.modal-close-button {
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: 0px;
  background-image: url("../../../public/images/close.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  height: 12vh;
  width: 100%;
  justify-content: space-between;
  margin-top: 62vh;
}

@media screen and (max-width: 830px) {
  .modal-content {
    width: 60vw;
  }
}

@media screen and (max-width: 420px) {
  .modal-content {
    width: 100vw;
  }

  .buttons-container {
    height: 18vh;
    margin-top: 42vh;
  }
}
